<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= title %></h5>
		<div class="pull-right">
			<div class="btn-group">
				<span id="<%= id %>" class="label label-info pull-right">Lifetime</span>
			</div>
		</div>
	</div>
	<div class="ibox-content">
		<div>
			<canvas id="<%= linechartid %>" height="213"></canvas>
		</div>
	</div>
</div>