<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5><%= title %></h5>
		<div class="pull-right">
			<div class="btn-group">
				<span id="<%= id %>" class="label label-success pull-right" style="cursor: auto">Monthly</span>
			</div>
		</div>
	</div>
	<div class="ibox-content">
		<canvas id="<%= linechartid %>" height="213"></canvas>
	</div>
</div>