<<<<<<< HEAD
<%= @graph.first['values'].first['value'] %>
=======
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= link_to '首頁', root_path  %></li>
      <li role="presentation"><%= link_to 'Google Analytics', ga_dashboards_path %></li>
    </ul>
  </div>
</div>
>>>>>>> 4649ecc6a3b86a89f04c56935c98cea666d7c9f7
