<div class="wrapper wrapper-content">
  <div class="row">

    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Monthly</span>
          <h5>粉絲專頁讚數</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" style="display: inline-block">4543</h1>
          <div class="stat-percent font-bold text-danger" nowrap>98% <i class="fa fa-bolt"></i></div>
          <div id="sparkline1"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Monthly</span>
          <h5>粉絲專頁曝光使用者</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" style="display: inline-block">89218</h1>
          <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i></div>
          <small></small>
          <div id="sparkline2"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">Monthly</span>
          <h5>官網使用者</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" style="display: inline-block">19218</h1>
          <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
          <div id="sparkline3"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-info pull-right">Weekly</span>
          <h5>電子報訂閱數</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins" style="display: inline-block">21911</h1>
          <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
          <div id="sparkline4"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>粉絲黏著度分析</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <canvas id="lineChart1" height="213"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>官網瀏覽活躍度分析</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div>
            <canvas id="lineChart2" height="215"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>電子報成效分析</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <canvas id="lineChart3" height="215"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>競爭對手流量分析</h5>
        </div>
        <div class="ibox-content">
          <div>
            <canvas id="barChart2" height="140"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>官網流量來源與跳出率分析</h5>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-white active">Today</button>
              <button type="button" class="btn btn-xs btn-white">Monthly</button>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div>
            <canvas id="barChart1" height="140"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

  $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
    type: 'line',
    width: '100%',
    height: '60',
    lineColor: '#1ab394',
    fillColor: "#ffffff"
  });

  $("#sparkline2").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
    type: 'line',
    width: '100%',
    height: '60',
    lineColor: '#1ab394',
    fillColor: "#ffffff"
  });

  $("#sparkline3").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
    type: 'line',
    width: '100%',
    height: '60',
    lineColor: '#1ab394',
    fillColor: "#ffffff"
  });

  $("#sparkline4").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
    type: 'line',
    width: '100%',
    height: '60',
    lineColor: '#1ab394',
    fillColor: "#ffffff"
  });
  
  var lineData1 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [

      {
        label: "內容曝光總數", // page_impressions
        backgroundColor: 'rgba(220, 220, 220, 0.3)',
        pointBackgroundColor: "rgba(220, 220, 220, 0.3)",
        pointBorderColor: "#fff",
        data: [78, 87, 94, 83, 73, 84, 90],
        yAxisID: 'y-axis-1',
      },{
        label: "貼文互動總數", // page_impressions_unique
        backgroundColor: 'rgba(26,179,148,0.5)',
        pointBorderColor: "#fff",
        data: [65, 59, 60, 71, 56, 55, 46],
        yAxisID: 'y-axis-1',
      },{
        label: "互動率",
        backgroundColor: 'rgba(225,225,225,1)',
        pointBorderColor: "#fff",
        data: [0.65, 0.59, 0.60, 0.71, 0.56, 0.55, 0.46],
        yAxisID: 'y-axis-2',
      }
    ]
  };

  var lineData2 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
      {
        label: "所有使用者瀏覽量",
        backgroundColor: 'rgba(220, 220, 220, 0.3)',
        pointBackgroundColor: "rgba(220, 220, 220, 0.3)",
        pointBorderColor: "#fff",
        data: [178, 187, 194, 183, 173, 184, 190],
        yAxisID: 'y-axis-1',
      },{
        label: "多工作階段使用者瀏覽量",
        backgroundColor: 'rgba(26,179,148,0.5)',
        pointBorderColor: "#fff",
        data: [65, 59, 60, 71, 56, 55, 40],
        yAxisID: 'y-axis-1',
      },{
        label: "活躍度",
        backgroundColor: 'rgba(225,225,225,1)',
        pointBorderColor: "#fff",
        data: [0.65, 0.59, 0.60, 0.71, 0.56, 0.55, 0.40],
        yAxisID: 'y-axis-2',
      }
    ]
  };

  var lineData3 = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [

      {
        label: "開信數",
        backgroundColor: 'rgba(220, 220, 220, 0.3)',
        pointBackgroundColor: "rgba(220, 220, 220, 0.3)",
        pointBorderColor: "#fff",
        data: [1178, 1287, 1494, 1283, 1473, 1184, 1290],
        yAxisID: 'y-axis-1',
      },{
        label: "連結點擊數",
        backgroundColor: 'rgba(26,179,148,0.5)',
        pointBorderColor: "#fff",
        data: [65, 59, 60, 71, 56, 55, 40],
        yAxisID: 'y-axis-1',
      },{
        label: "開信率",
        backgroundColor: 'rgba(220, 220, 220, 0.3)',
        pointBackgroundColor: "rgba(220, 220, 220, 0.3)",
        pointBorderColor: "#fff",
        data: [0.78, 0.87, 0.94, 0.83, 0.73, 0.84, 0.90],
        yAxisID: 'y-axis-2',
      },{
        label: "連結點擊率",
        backgroundColor: 'rgba(26,179,148,0.5)',
        pointBorderColor: "#fff",
        data: [0.65, 0.59, 0.60, 0.71, 0.56, 0.55, 0.40],
        yAxisID: 'y-axis-2',
      }
    ]
  };

  var lineOptions = {
    responsive: true,
    scales: {
      yAxes: [{
        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        display: true,
        position: 'left',
        id: 'y-axis-1',
      }, {
        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        display: true,
        position: 'right',
        id: 'y-axis-2',
        gridLines: {
          drawOnChartArea: false
        }
      }],
    }
  };

  var ctx1 = document.getElementById("lineChart1").getContext("2d");
  new Chart(ctx1, {type: 'line', data: lineData1, options:lineOptions});

  var ctx2 = document.getElementById("lineChart2").getContext("2d");
  new Chart(ctx2, {type: 'line', data: lineData2, options:lineOptions});

  var ctx3 = document.getElementById("lineChart3").getContext("2d");
  new Chart(ctx3, {type: 'line', data: lineData3, options:lineOptions});

  var barData1 = {
    labels: ["有機搜尋", "社群", "自然流量", "參照連結", "電郵"],
    datasets: [
      {
        label: "流量數",
        backgroundColor: 'rgba(220, 220, 220, 0.5)',
        pointBorderColor: "#fff",
        yAxisID: 'y-axis-1',
        data: [15000, 10000, 8000, 5000, 3000]
      },
      {
        label: "跳出率",
        backgroundColor: 'rgba(26,179,148,0.5)',
        borderColor: "rgba(26,179,148,0.7)",
        pointBackgroundColor: "rgba(26,179,148,1)",
        pointBorderColor: "#fff",
        yAxisID: 'y-axis-2',
        data: [68, 78, 67, 69, 66]
      }
    ]
  };

  var barOptions1 = {
    responsive: true,
    scales: {
      yAxes: [{
        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        display: true,
        position: 'left',
        id: 'y-axis-1',
      }, {
        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        display: true,
        position: 'right',
        id: 'y-axis-2',
        stacked: true,
        gridLines: {
          drawOnChartArea: false
        }
      }],
    }
  };

  var ctx6 = document.getElementById("barChart1").getContext("2d");
  new Chart(ctx6, {type: 'bar', data: barData1, options:barOptions1});

  var barData2 = {
  labels: ["社企流", "上下游", "泛科學", "環境資訊中心", "NPOst", "Womany"],
  datasets: [
      {
        label: "流量數",
        backgroundColor: 'rgba(220, 220, 220, 0.5)',
        pointBorderColor: "#fff",
        data: [3124, 3108, 2158, 2159, 1130, 1134],
        xAxisID: 'x-axis-1',
      },{
        label: "跳出率",
        backgroundColor: 'rgba(26,179,148,0.5)',
        borderColor: "rgba(26,179,148,0.7)",
        pointBackgroundColor: "rgba(26,179,148,1)",
        pointBorderColor: "#fff",
        data: [80, 84, 68, 79, 83, 74],
        xAxisID: 'x-axis-2',
      },
    ]
  };

  var barOptions2 = {
    responsive: true,
    scales: {
      xAxes: [{
        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        display: true,
        position: 'top',
        id: 'x-axis-1',
        stacked: true,
      }, {
        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
        display: true,
        position: 'bottom',
        id: 'x-axis-2',
        stacked: true,
        gridLines: {
          drawOnChartArea: false
        }
      }],
    }
  };

  var ctx7 = document.getElementById("barChart2").getContext("2d");
  new Chart(ctx7, {type: 'horizontalBar', data: barData2, options:barOptions2});
});

</script>

<% end %>