<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<span class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </span>
		</div>
		<ul class="nav navbar-top-links">
			<%= render 'layouts/alert' %>
			<ul class="nav navbar-top-links navbar-right" style=" padding-top: 8px;">
				<li id="switch">
					<button id="switchweek"" type="button" class="btn btn-xs">Week</button>
					<button id="switchmonth" type="button" class="btn btn-xs">Month</button>
				</li>
				<li class="btn-group" style=" padding-left: 8px;">
					<div class="input-group input-daterange" style="width: 300px;">
						<input type="text" id="starttime" class="form-control">
						<div class="input-group-addon">to</div>
						<input type="text" id="endtime" class="form-control">
					</div>
				</li>
				<li>
					<button type="button" id= "submitdate" class="btn btn-sm btn-primary"> Go!</button>
				</li>
			</ul>
		</ul>
	</nav>
</div>

<script type="text/javascript">

var utc = new Date().toJSON().slice(0,10).replace(/-/g,'/');

$('#starttime').datetimepicker({
	format: 'YYYY/MM/DD',
	minDate: '2017/09/23',
	maxDate: String(utc)
});

$('#endtime').datetimepicker({
	format: 'YYYY/MM/DD',
	minDate: String(utc),
	maxDate: String(utc)
});

$('#starttime').on("dp.change", function(e) {
	$('#endtime').data("DateTimePicker").minDate(e.date);
})


$('#submitdate').on('click', function () {
		event.preventDefault();
		$.ajax({
			url: '/dashboards',
			Type: 'GET',
			dataType: "json",
			data:{
				starttime: $('#starttime').data('date'),
				endtime: $('#endtime').data('date'),
			},
			success: function(data){
			}
		});
		return false;
	});

// switch week / month
$("#switchweek").click(function() {
	$(this).siblings().removeClass('label-primary');
	$(this).addClass('label-primary');
	$(this).siblings().removeAttr("style");
	$(this).css("color","#ffffff");
	$( "#labelpagefansw" ).trigger( "click" );
	$( "#labelpageusersw" ).trigger( "click" );
	$( "#labelwebusersw" ).trigger( "click" );
	$( "#labelfansretentionw" ).trigger( "click" );
	$( "#labelwebactivityw" ).trigger( "click" );
	$( "#labelwebtrafficw" ).trigger( "click" );
	$( "#labelpageviewsw" ).trigger( "click" );
	$( "#labelpageviewspersessionw" ).trigger( "click" );
	$( "#labelavgsessiondurationw" ).trigger( "click" );
	$( "#labelpostsusersw" ).trigger( "click" );
	$( "#labelnegativeusersw" ).trigger( "click" );
	$( "#labellinkclicksw" ).trigger( "click" );
	$( "#labelfansaddsw" ).trigger( "click" );
})

$("#switchmonth").click(function() {
	$(this).siblings().removeClass('label-primary');
	$(this).addClass('label-primary');
	$(this).siblings().removeAttr("style");
	$(this).css("color","#ffffff");
	$( "#labelpagefansm" ).trigger( "click" );
	$( "#labelpageusersm" ).trigger( "click" );
	$( "#labelwebusersm" ).trigger( "click" );
	$( "#labelfansretentionm" ).trigger( "click" );
	$( "#labelwebactivitym" ).trigger( "click" );
	$( "#labelwebtrafficm" ).trigger( "click" );
	$( "#labelpageviewsm" ).trigger( "click" );
	$( "#labelpageviewspersessionm" ).trigger( "click" );
	$( "#labelavgsessiondurationm" ).trigger( "click" );
	$( "#labelpostsusersm" ).trigger( "click" );
	$( "#labelnegativeusersm" ).trigger( "click" );
	$( "#labellinkclicksm" ).trigger( "click" );
	$( "#labelfansaddsm" ).trigger( "click" );
})

// Minimalize menu
$('.navbar-minimalize').on('click', function (event) {
	console.log('toggle')
	event.preventDefault();
	$("body").toggleClass("mini-navbar");
	SmoothlyMenu();
});

</script>