<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a href="/""><img src="<%= image_path('logo.png') %>" style="width:130px; margin-left:25px"></a>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Hi～ 社企流的夥伴！數據就是力量</span>
			</li>
			<% if current_user %>            
				<li><%= link_to('登出', destroy_user_session_path, method: :delete, class: "fa fa-sign-out") %></li>
			<% else %>
				<li><%= link_to('登入', new_user_session_path, class: "fa fa-sign-in") %></li>
			<% end %>
		</ul>
	</nav>
</div>