<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<span class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </span>
		</div>
		<ul class="nav navbar-top-links">
			<%= render 'layouts/alert' %>
			<ul class="nav navbar-top-links navbar-right" style=" padding-top: 8px;">
				<li id="switch">
					<button id="switchweek"" type="button" class="btn btn-xs">Week</button>
					<button id="switchmonth" type="button" class="btn btn-xs">Month</button>
				</li>
				<li class="btn-group" style=" padding-left: 8px;">
					<div class="input-group input-daterange" style="width: 300px;">
						<input type="text" id="starttime" class="form-control">
						<div class="input-group-addon">to</div>
						<input type="text" id="endtime" class="form-control">
					</div>
				</li>
				<li>
					<button type="button" id= "submitdate" class="btn btn-sm btn-primary"> Go!</button>
				</li>
				<li>
					<button type="button" id= "exceldate" class="btn btn-sm btn-primary"><i class="fa fa-download"></i></button>
				</li>
			</ul>
		</ul>
	</nav>
</div>

<script type="text/javascript">

$('#exceldate').hide();

var utc = new Date().toJSON().slice(0,10).replace(/-/g,'/');

$('#starttime').datetimepicker({
	format: 'YYYY/MM/DD',
	minDate: '2017/09/23',
	maxDate: String(utc)
});

$('#endtime').datetimepicker({
	format: 'YYYY/MM/DD',
	minDate: String(utc),
	maxDate: String(utc)
});

$('#starttime').on("dp.change", function(e) {
	$('#endtime').data("DateTimePicker").minDate(e.date);
})

$('#exceldate').on('click', function () {
	event.preventDefault();
	$('#exceldate').hide();
	$.ajax({
		url: '/dashboards/exceldate',
		method: 'GET',
		dataType: "json",
		data:{
				starttime: $('#starttime').data('date'),
				endtime: $('#endtime').data('date'),
			},
		success: function(data){
		}
	});
});

$('#submitdate').on('click', function () {
	event.preventDefault();
	$('#exceldate').show();
	$.ajax({
		url: '/dashboards',
		method: 'POST',
		dataType: "json",
		data:{
				starttime: $('#starttime').data('date'),
				endtime: $('#endtime').data('date'),
			},
		success: function(data){
			// $('#sparklinefansadds').parent('.ibox-content').children('h1').html('monthdata');
			$('#sparklinefansadds').parent('.ibox-content').children('.stat-percent').children('span').html(data.fans_adds_select_rate);
			$('#sparklinefansadds').parent('.ibox-content').children('.stat-percent').children('i').removeClass();
			$('#sparklinefansadds').parent('.ibox-content').children('.stat-percent').removeClass();
			if (data.fans_adds_select_rate > 0 ) {
				$('#sparklinefansadds').prev().children('i').addClass('fa fa-level-up');
				$('#sparklinefansadds').prev().addClass('stat-percent font-bold text-navy');
			}	else {
				$('#sparklinefansadds').prev().children('i').addClass('fa fa-level-down');
				$('#sparklinefansadds').prev().addClass('stat-percent font-bold text-danger');
			}
			$("#sparklinefansadds").sparkline(data.fans_adds_last_select, {
				type: 'line',
				width: '100%',
				height: '60',
				lineColor: '#1ab394',
				fillColor: "#ffffff"
			});
		 	$('#sparklinepageusers').parent('.ibox-content').children('h1').html(data.page_users_select);
			$('#sparklinepageusers').parent('.ibox-content').children('.stat-percent').children('span').html(data.page_users_select_rate);
			$('#sparklinepageusers').parent('.ibox-content').children('.stat-percent').children('i').removeClass();
			$('#sparklinepageusers').parent('.ibox-content').children('.stat-percent').removeClass();
			if (data.page_users_select_rate > 0 ) {
				$('#sparklinepageusers').prev().children('i').addClass('fa fa-level-up');
				$('#sparklinepageusers').prev().addClass('stat-percent font-bold text-navy');
			}	else {
				$('#sparklinepageusers').prev().children('i').addClass('fa fa-level-down');
				$('#sparklinepageusers').prev().addClass('stat-percent font-bold text-danger');
			}
			$("#sparklinepageusers").sparkline(data.page_users_last_select, {
				type: 'line',
				width: '100%',
				height: '60',
				lineColor: '#1ab394',
				fillColor: "#ffffff"
			});
			$('#sparklinewebusers').parent('.ibox-content').children('h1').html(data.web_users_select);
			$('#sparklinewebusers').parent('.ibox-content').children('.stat-percent').children('span').html(data.web_users_select_rate);
			$('#sparklinewebusers').parent('.ibox-content').children('.stat-percent').children('i').removeClass();
			$('#sparklinewebusers').parent('.ibox-content').children('.stat-percent').removeClass();
			if (data.web_users_select_rate > 0 ) {
				$('#sparklinewebusers').prev().children('i').addClass('fa fa-level-up');
				$('#sparklinewebusers').prev().addClass('stat-percent font-bold text-navy');
			}	else {
				$('#sparklinewebusers').prev().children('i').addClass('fa fa-level-down');
				$('#sparklinewebusers').prev().addClass('stat-percent font-bold text-danger');
			}
			$("#sparklinewebusers").sparkline(data.web_users_last_select, {
				type: 'line',
				width: '100%',
				height: '60',
				lineColor: '#1ab394',
				fillColor: "#ffffff"
			});
			$('#sparklinemailusers').parent('.ibox-content').children('h1').html(data.mail_users_select);
			$('#sparklinemailusers').parent('.ibox-content').children('.stat-percent').children('span').html(data.mail_users_select_rate);
			$('#sparklinemailusers').parent('.ibox-content').children('.stat-percent').children('i').removeClass();
			$('#sparklinemailusers').parent('.ibox-content').children('.stat-percent').removeClass();
			if (data.mail_users_select_rate > 0 ) {
				$('#sparklinemailusers').prev().children('i').addClass('fa fa-level-up');
				$('#sparklinemailusers').prev().addClass('stat-percent font-bold text-navy');
			}	else {
				$('#sparklinemailusers').prev().children('i').addClass('fa fa-level-down');
				$('#sparklinemailusers').prev().addClass('stat-percent font-bold text-danger');
			}
			$("#sparklinemailusers").sparkline(data.mail_users_last_select, {
				type: 'line',
				width: '100%',
				height: '60',
				lineColor: '#1ab394',
				fillColor: "#ffffff"
			});
			var lineDatafansretention = {
				labels: data.fb_last_select,
				datasets: [
					{
						label: "內容曝光人數", 
						backgroundColor: 'rgba(220, 220, 220, 0.3)',
						pointBackgroundColor: "rgba(220, 220, 220, 0.3)",
						pointBorderColor: "#fff",
						data: data.posts_users_last_select,
						yAxisID: 'y-axis-1',
					},{
						label: "貼文互動人數", 
						backgroundColor: 'rgba(26,179,148,0.5)',
						pointBorderColor: "#fff",
						data:  data.enagements_users_last_select,
						yAxisID: 'y-axis-1',
					},{
						label: "互動率",
						backgroundColor: 'rgba(225,225,225,1)',
						pointBorderColor: "#fff",
						data: data.fans_retention_rate_select,
						yAxisID: 'y-axis-2',
					}
				]
			};
			var lineOptions = {
				responsive: true,
				scales: {
					yAxes: [{
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'left',
						id: 'y-axis-1',
					}, {
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'right',
						id: 'y-axis-2',
						gridLines: {
							drawOnChartArea: false
						}
					}],
				}
			};
			new Chart(document.getElementById("lineChartfansretention").getContext("2d"), {type: 'line', data: lineDatafansretention, options:lineOptions}); 
			var lineDatawebactivity = {
				labels: data.ga_last_select_date,
				datasets: [
					{
						label: "所有使用者", 
						backgroundColor: 'rgba(220, 220, 220, 0.3)',
						pointBackgroundColor: "rgba(220, 220, 220, 0.3)",
						pointBorderColor: "#fff",
						data: data.all_users_views_last_select,
						yAxisID: 'y-axis-1',
					},{
						label: "多工作階段使用者", 
						backgroundColor: 'rgba(26,179,148,0.5)',
						pointBorderColor: "#fff",
						data:  data.activeusers_views_last_select,
						yAxisID: 'y-axis-1',
					},{
						label: "活躍度",
						backgroundColor: 'rgba(225,225,225,1)',
						pointBorderColor: "#fff",
						data: data.users_activity_rate_select,
						yAxisID: 'y-axis-2',
					}
				]
			};
			var lineOptions = {
				responsive: true,
				scales: {
					yAxes: [{
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'left',
						id: 'y-axis-1',
					}, {
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'right',
						id: 'y-axis-2',
						gridLines: {
							drawOnChartArea: false
						}
					}],
				}
			};
			new Chart(document.getElementById("lineChartwebactivity").getContext("2d"), {type: 'line', data: lineDatawebactivity, options:lineOptions}); 
			var lineDatamailactivity = {
				labels: data.select_date,
				datasets: [
					{
						label: "開信率", 
						backgroundColor: 'rgba(220, 220, 220, 0.3)',
						pointBackgroundColor: "rgba(220, 220, 220, 0.3)",
						pointBorderColor: "#fff",
						data: data.mail_views_rate_select,
						yAxisID: 'y-axis-1',
					},{
						label: "連結點擊率", 
						backgroundColor: 'rgba(26,179,148,0.5)',
						pointBorderColor: "#fff",
						data:  data.mail_links_rate_select,
						yAxisID: 'y-axis-1',
					}
				]
			};
			var lineOptions = {
				responsive: true,
				scales: {
					yAxes: [{
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'left',
						id: 'y-axis-1',
					}, {
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'right',
						id: 'y-axis-2',
						gridLines: {
							drawOnChartArea: false
						}
					}],
				}
			};
			new Chart(document.getElementById("lineChartmailactivity").getContext("2d"), {type: 'line', data: lineDatamailactivity, options:lineOptions}); 
			var barDatawebtraffic = {
				labels: ["有機搜尋", "社群", "自然流量", "參照連結", "電郵"],
				datasets: [
					{
						label: "流量數",
						backgroundColor: 'rgba(220, 220, 220, 1)',
						pointBorderColor: "#fff",
						data: data.channel_user_select,
						yAxisID: 'y-axis-1',
					},{
						label: "跳出率",
						backgroundColor: 'rgba(26,179,148,0.5)',
						borderColor: "rgba(26,179,148,0.7)",
						pointBackgroundColor: "rgba(26,179,148,1)",
						pointBorderColor: "#fff",
						data: data.bounce_rate_select,
						yAxisID: 'y-axis-2',
					},
				]
			};
			var barOptions = {
				responsive: true,
				scales: {
					yAxes: [{
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'left',
						id: 'y-axis-1',
					}, {
						type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
						display: true,
						position: 'right',
						id: 'y-axis-2',
						stacked: true,
						gridLines: {
							drawOnChartArea: false
						}
					}],
				}
			};
			new Chart(document.getElementById("barChartwebtraffic").getContext("2d"), {type: 'bar', data: barDatawebtraffic, options:barOptions});
		}
	});
});

// switch week / month
$("#switchweek").click(function() {
	$(this).siblings().removeClass('label-primary');
	$(this).addClass('label-primary');
	$(this).siblings().removeAttr("style");
	$(this).css("color","#ffffff");
	$( "#labelpagefansw" ).trigger( "click" );
	$( "#labelpageusersw" ).trigger( "click" );
	$( "#labelwebusersw" ).trigger( "click" );
	$( "#labelfansretentionw" ).trigger( "click" );
	$( "#labelwebactivityw" ).trigger( "click" );
	$( "#labelwebtrafficw" ).trigger( "click" );
	$( "#labelpageviewsw" ).trigger( "click" );
	$( "#labelpageviewspersessionw" ).trigger( "click" );
	$( "#labelavgsessiondurationw" ).trigger( "click" );
	$( "#labelpostsusersw" ).trigger( "click" );
	$( "#labelnegativeusersw" ).trigger( "click" );
	$( "#labellinkclicksw" ).trigger( "click" );
	$( "#labelfansaddsw" ).trigger( "click" );
})

$("#switchmonth").click(function() {
	$(this).siblings().removeClass('label-primary');
	$(this).addClass('label-primary');
	$(this).siblings().removeAttr("style");
	$(this).css("color","#ffffff");
	$( "#labelpagefansm" ).trigger( "click" );
	$( "#labelpageusersm" ).trigger( "click" );
	$( "#labelwebusersm" ).trigger( "click" );
	$( "#labelfansretentionm" ).trigger( "click" );
	$( "#labelwebactivitym" ).trigger( "click" );
	$( "#labelwebtrafficm" ).trigger( "click" );
	$( "#labelpageviewsm" ).trigger( "click" );
	$( "#labelpageviewspersessionm" ).trigger( "click" );
	$( "#labelavgsessiondurationm" ).trigger( "click" );
	$( "#labelpostsusersm" ).trigger( "click" );
	$( "#labelnegativeusersm" ).trigger( "click" );
	$( "#labellinkclicksm" ).trigger( "click" );
	$( "#labelfansaddsm" ).trigger( "click" );
})

// Minimalize menu
$('.navbar-minimalize').on('click', function (event) {
	console.log('toggle')
	event.preventDefault();
	$("body").toggleClass("mini-navbar");
	SmoothlyMenu();
});

</script>