<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<span class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </span>
		</div>
		<ul class="nav navbar-top-links">
			<%= render 'layouts/alert' %>
		</ul>
	</nav>
</div>

<script type="text/javascript">
$('.navbar-minimalize').on('click', function (event) {
	event.preventDefault();
	$("body").toggleClass("mini-navbar");
	SmoothlyMenu();
});
</script>