<!DOCTYPE html>
<html>
  <head>
    <title>SeinDashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  </body>
</html>
